.mainContainer {
   padding: 40px 0px;
}
.contentContainer {
   display: flex;
   gap: 40px;
   align-items: center;
}
.contentContainer > div {
   background: #5cd1da;
   border-radius: 50%;
   width: 200px;
   height: 107px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 60px;
   color: #fff;
}
.contentContainer > p {
   font-size: 23px;
}

@media screen and (max-width: 1200px) {
    .contentContainer > div {
        width: 240px;
    }
}
@media screen and (max-width: 962px) {
    .contentContainer > div {
    width: 270px;
    height: 90px;
    }
    .contentContainer > p {
        font-size: 19px;
    }
}
@media screen and (max-width: 642px) {
    .contentContainer > div {
        width: 300px;
        height: 80px;
    }
    .contentContainer > p {
        font-size: 16px;
    }
}
@media screen and (max-width: 480px) {
    .contentContainer {
        gap: 20px;
    }
    .contentContainer > div {
        font-size: 40px;
    width: 500px;
    
}
}
