.card {
    
   width: 32%;
   height: 425px;
   padding: 20px;
   gap: 20px;
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   box-shadow: 0 0 10px 1px rgb(240 239 239);
}
.cardImgContainer > img {
   width: 70px;
   height: 70px;
   object-fit: cover;
   border-radius: 100%;
}
.cardTitle {
    white-space: nowrap;
   font-size: 20px;
   font-weight: 600;
}
.cardDesc {
    font-size: 14px;
   font-style: italic;
   color: #414141;
}
.cardInfoContainer {
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.cardInfoContainer > p  {
    font-size: 14px;
}
.cardInfoContainer > p > strong {
   font-weight: 600;
}
.cardPriceContainer {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}
.cardPriceContainer > p:first-child {
   color: #36b6be;
   font-size: 22px;
   font-weight: 700;
}
.cardPriceContainer > p:last-child {
   color: rgba(189, 189, 189, 0.651);
   font-size: 22px;
   font-weight: 700;
   text-decoration: line-through;
}
.cardActionContainer {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.cardActionContainer > a {
   font-size: 12px;
   text-decoration: underline;
}
.cardActionContainer > button {
   width: 140px;
   height: 45px;
   border-radius: 25px;
   border: 2px solid #36b6be;
   transition: 0.5s;
}
.cardActionContainer > button:hover {
    background: #eceaea;
}
@media screen and (max-width: 1200px) {
.card {
    width: 32.2%;
    height: 320px;
    gap: 15px;
}
.cardImgContainer > img {
    width: 60px;
    height: 60px;
}
.cardTitle {
    font-size: 16px;
}
.cardDesc {
    font-size: 12px;
}
.cardPriceContainer {
    margin-top: 10px;
    justify-content: flex-start;
    gap: 30px;
}
.cardPriceContainer > p:first-child {
    font-size: 18px;
}
.cardPriceContainer > p:last-child {
    font-size: 18px;
}
.cardActionContainer > a {
    font-size: 11px;
}
.cardActionContainer > button {
    width: 110px;
}
 }
 @media screen and (max-width: 962px) {
.card {
    width: 48%;
}
 
 }
 @media screen and (max-width: 642px) {
    .card {
        width: 100%;
    }
 }
 @media screen and (max-width: 482px) {

 }
 