.mainContainer {
   padding: 200px 0px 100px 0px;
}
.textContainer {
   display: flex;
   flex-direction: column;
   gap: 50px;
   text-align: center;
   align-items: center;
}
.title {
   font-size: 35px;
}
.desc {
   font-weight: 300;
   font-size: 20px;
   line-height: 1.6;
   letter-spacing: 1px;
}
.subtitle {
   font-size: 21px;
}
.getSaleBtn {
   width: 230px;
   padding: 20px;
   color: #fff;
   border-radius: 30px;
   font-weight: 700;
   background-color: #0ac2b7;
}
.infoBlockContainer {
    margin-top: 120px;
}
.inclusiveTitle {
    margin-top: 70px;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.inclusiveBlockContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 70px;
}

 @media screen and (max-width: 642px) {
    .hiddenContainer {
        width: 100%;
    }
 }
 @media screen and (max-width: 482px) {

.desc {
    line-height: 1.1;
}
 }
 