@import url(reset.css);

@font-face {
   font-family: "Muller";
   src: local("Muller Medium"), local("Muller-Medium"),
      url("./assets/fonts/MullerMedium.woff2") format("woff2"),
      url("./assets/fonts/MullerMedium.woff") format("woff"),
      url("./assets/fonts/MullerMedium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "Muller";
   src: local("Muller Bold"), local("Muller-Bold"),
      url("./assets/fonts/MullerBold.woff2") format("woff2"),
      url("./assets/fonts/MullerBold.woff") format("woff"),
      url("./assets/fonts/MullerBold.ttf") format("truetype");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Muller";
   src: local("Muller Light"), local("Muller-Light"),
      url("./assets/fonts/MullerLight.woff2") format("woff2"),
      url("./assets/fonts/MullerLight.woff") format("woff"),
      url("./assets/fonts/MullerLight.ttf") format("truetype");
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: "Muller";
   src: local("Muller Black"), local("Muller-Black"),
      url("./assets/fonts/MullerBlack.woff2") format("woff2"),
      url("./assets/fonts/MullerBlack.woff") format("woff"),
      url("./assets/fonts/MullerBlack.ttf") format("truetype");
   font-weight: 900;
   font-style: normal;
}
@font-face {
   font-family: 'Muller';
   src: local('Muller Ultra Light'), local('Muller-Ultra-Light'),
       url('./assets/fonts/MullerUltraLight.woff2') format('woff2'),
       url('./assets/fonts/MullerUltraLight.woff') format('woff'),
       url('./assets/fonts/MullerUltraLight.ttf') format('truetype');
   font-weight: 200;
   font-style: normal;
 }
* {
   margin: 0;
   padding: 0;
   font-weight: 500;
   font-family: "Muller";
}
html,
body {
   height: 100%;
}
#root {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
main {
   flex: 1 1 auto;
}
.logo {
   width: 140px;
   height: 110px;
   object-fit: cover;
   background: transparent;
}
.container {
   width: 1135px;
   margin: 0 auto;
   padding: 0 15px;
}
.margin-from-header {
   margin-top: 139px;
}
.popup-bg {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: 4;
   background-color: rgba(0, 0, 0, 0.6);
   transition: 0.6s;
   opacity: 0;
   pointer-events: none;
}

.popup-bg.active {
   opacity: 1;
   transition: 0.6s;
   pointer-events: all;
   cursor: pointer;
}
.popup {
   position: absolute;
   padding: 25px;
   top: 50%;
   left: 50%;
   transform: scale(0) translate(-50%, -50%);
   background-color: #f5ffff;
   max-width: 600px;
   max-height: 500px;
   transition: 0.4s;
}
.popup.active {
   transform: scale(1) translate(-50%, -50%);
   transition: 0.4s;
}


@media screen and (max-width: 1200px) {
   .container {
      width: 960px;
   }
}
@media screen and (max-width: 962px) {
   .container {
      width: 640px;
   }
   .logo {
      /* width: 180px; */
   }
}
@media screen and (max-width: 642px) {
   .container {
      width: 480px;
   }
}
@media screen and (max-width: 482px) {
   .container {
      width: 320px;
   }
   .logo {
      width: 90px;
      height: 60px;

   }
}
